.container{
	width: 400px;
	border: 1px solid lightgrey;
	margin: 200px auto;
	padding: 100px 0px;
	background-color: #239cf5;
	text-align: center;
	position: relative;
}

.search {
	position: absolute;
	left: 45%;
	-webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
    animation-duration: 1s;
    z-index: 9999;
}

.search-open {
	animation-name: searchOpen;
	left: 70%;
	transform: rotate(360deg);
}

.search-close {
	animation-name: searchClose;
	left: 45%;
	transform: rotate(-360deg);
}

@keyframes searchOpen {
    0%   { left: 45%; }
    100%  { left: 70%; }
}

@keyframes searchClose {
    0%   { left: 70%; }
    100%  { left: 45%; }
}

.search-box {
	display: none;
	padding: 0px;
	width: 0px;
	border: none;
	position: absolute;
	left: 18%;
	-webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
    animation-duration: 1s;
    background-color: #239cf5;
}

.search-box-show {
	display: inline;
	width: 200px;
	border-bottom: 1px solid white;
	animation-name: showSearchBox;
}

.search-box-hide {
	display: inline;
	width: 0px;
	border-bottom: 1px solid white;
	animation-name: hideSearchBox;
}

@keyframes showSearchBox {
    0%   { width: 0px; left: 70%; }
    100%  { width: 200px; left: 18%; }
}

@keyframes hideSearchBox {
    0%   { width: 200px; }
    100%  { width: 0px; }
}